<div id="snow">
</div>

<!-- Four -->
<!-- <div id="four" class="gift modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <a href="http://pica-pic.com/#/octopus/" target="blank">Mieux que COD of FIFA 18</a>
    </div>
  </div>
</div> -->


<% data.days.each do |day| %>
  <div id="<%= day.id %>" class="gift modal">
    <div class="modal-background"></div>
    <div class="modal-content text-center">
      <div class="box">
        <% if day.image %>
          <%= image_tag day.image %>
        <% end %>
        <% if day.video %>
          <%= video_tag day.video %>
        <% end %>
        <% if day.text %>
          <p><%= day.text %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<!-- Calendar -->
  <h1>Poulpe Xmas's calendar</h1>
  <div class="calendar-container" data-day="<%= DateTime.now %>">
    <% data.days.each do |day| %>
      <div class="day-container" data-target="#<%= day.id %>">
        <%# if ?? %>
          <%#= image_tag day.pattern %>
        <%# else %>
          <%= image_tag day.bg_img %>

        <%# end %>
      </div>
    <% end %>
  </div>
