<div id="snow">
</div>

<!-- Stalker modal -->
<div id="stalker" class="gift modal">
  <div class="modal-background"></div>
  <div class="modal-content text-center">
    <div class="box">
      <img id="random-cat" src="http://thecatapi.com/api/images/get?format=src&type=gif">
      <p>Petit(e) malin(e)! C'est tout pour aujourd'hui mais reviens demain.</p>
    </div>
  </div>
</div>

<!-- Modals -->
<% data.days.each do |day| %>
  <div id="<%= day.id %>" class="gift modal">
    <div class="modal-background"></div>
    <div class="modal-content text-center">
      <div class="box">
        <% if day.image %>
          <%= image_tag day.image %>
        <% end %>
        <% if day.video %>
          <%= video_tag day.video %>
        <% end %>
        <% if day.text %>
          <p><%= day.text %></p>
        <% end %>
        <% if day.audio %>
          <%= tag :audio, src: day.audio, id: "sinatra" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<!-- Calendar -->
  <%= image_tag('xmas_poulpe.png', class: 'xmas-logo') %>
  <div class="calendar-container" data-day="<%= Date.today %>">
    <% data.days.each do |day| %>
      <div class="day-container" data-target="#<%= day.id %>" data-date="<%= day.date.to_date %>">
        <% if day.date.to_date < Date.today %>
          <%= image_tag day.pattern %>
        <% else %>
          <%= image_tag day.bg_img %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="footer">
    <p>Made with ❄️ by <a target="blank" href="http://www.poulpe.co">Poulpe</a></p>
  </div>
