<div id="snow">
</div>

<!-- Two -->
<!-- <div id="two" class="gift modal">
 <div class="modal-background"></div>
 <div class="modal-content">
   <div class="box">
      <p>________________$$$$$$$</p>
      <p>____________$$$$$$$$$$$$$$</p>
      <p>_________$$$$$$$$$$$$$$$$$$</p>
      <p>________$$$$$$$$$$$$$$$$$$$$</p>
      <p>_______$$$$$$$$$$$$$$$☻$$$$$____$$$$$$</p>
      <p>_______$$$$$$$$☻$$$$$$$$$$$$___$$$__$$$</p>
      <p>_______$$$$$$$$$$$$$$$$$$$$__$$$$____$$</p>
      <p>________$$$$$$$$$$$$$$$$$$$$$$$$</p>
      <p>_________$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$</p>
      <p>_$$$$$$_____$$$$$$$$$$$$$$$$$$________$$</p>
      <p>$$___$$$$$$$$$$$$$$$$$$$$$$$_________$$</p>
      <p>_$$$____$$$$$$$$$$$$$$$$$$$$$$$$$$$$</p>
      <p>_____$$$$$$$$__$$$_$$$$$$__________$$</p>
      <p>___$$$$_______$$$__$$$_$$$______$$$$</p>
      <p>__$$$_______$$$$___$$$__$$$</p>
      <p>___$$$$$___$$$_____$$$___$$$$___ $$</p>
      <p>____$$$____$$$$$$__$$$____$$$$$$$$</p>
   </div>
 </div>
</div>
 -->
<!-- Four -->
<!-- <div id="four" class="gift modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <a href="http://pica-pic.com/#/octopus/" target="blank">Mieux que COD of FIFA 18</a>
    </div>
  </div>
</div> -->


<% data.days.each do |day| %>
  <div id="<%= day.id %>" class="gift modal">
    <div class="modal-background"></div>
    <div class="modal-content text-center">
      <div class="box">
        <%= image_tag day.image %>
        <% if day.text %>
          <p><%= day.text %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<!-- Calendar -->
  <h1>Poulpe Xmas's calendar</h1>
  <div class="calendar-container" data-day="<%= DateTime.now %>">
    <% data.days.each do |day| %>
      <div class="day-container" data-target="#<%= day.id %>">
        <%# if ?? %>
          <%#= image_tag day.pattern %>
        <%# else %>
          <%= image_tag day.bg_img %>

        <%# end %>
      </div>
    <% end %>
  </div>
