<div id="snow">
</div>

<!-- Stalker modal -->
<div id="stalker" class="gift modal">
  <div class="modal-background"></div>
  <div class="modal-content text-center">
    <button class="modal-close"></button>
    <div class="box">
      <img id="random-cat" src="http://thecatapi.com/api/images/get?format=src&type=gif">
      <p>Petit(e) malin(e)! C'est tout pour aujourd'hui mais reviens demain.</p>
    </div>
  </div>
</div>

<!-- Modals -->
<% data.days.each do |day| %>
  <div id="<%= day.id %>" class="gift modal">
    <div class="modal-background"></div>
    <div class="modal-content text-center">
      <button class="modal-close"></button>
      <div class="box">
        <% if day.image %>
          <%= image_tag day.image %>
        <% end %>
        <% if day.video %>
          <%= day.video %>
        <% end %>
        <% if day.text %>
          <p><%= day.text %></p>
        <% end %>
        <% if day.audio %>
          <%= tag :audio, src: day.audio, id: "sinatra" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>



<!-- Calendar -->
  <%= image_tag('xmas_poulpe.png', class: 'xmas-logo') %>
  <div class="calendar-container" data-day="<%= Date.today %>">
    <% data.days.each do |day| %>
      <div class="day-container" data-target="#<%= day.id %>" data-date="<%= day.date.to_date %>">
        <% if day.date.to_date < Date.today %>
          <div class="number"><%= day.number %></div>
          <%= image_tag day.pattern %>
        <% else %>
        
          <%= image_tag day.bg_img %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="footer">
    <p>Made with ❄️ by <a target="blank" href="http://www.poulpe.co">Poulpe</a></p>
  </div>


  <!-- Let it snow, let it snow, let it snow... -->
<!--   ______________¶¶¶¶¶¶¶¶¶¶¶¶¶¶
____________¶¶¶¶7777777777¶¶¶¶¶
_________¶¶¶¶77777777777777777¶¶¶¶
_______¶¶¶77777777777777777777777¶¶¶
______¶¶¶77777777777777777777777777¶¶
_____¶¶_7777777777777777777777777777¶¶¶
____¶¶7777¶¶¶¶¶¶¶¶¶¶¶¶¶¶77777777777777¶¶
___¶¶7¶¶¶¶¶¶§§§§§§§§§¶¶¶¶¶¶¶77777777777¶¶
___¶¶¶¶§§§§§§§§§§§§§§§§§§§§¶¶¶¶777777777¶
__¶¶¶§§§§§§§§§§§§§§§§§§§§§§§§§¶¶¶7777777¶¶
_¶¶§§§§§§§§§¶¶¶¶¶¶¶¶¶§§§§§§§§§§§¶¶7777777¶¶
_¶§§§§§§¶¶¶¶¶__¶¶¶¶¶¶¶¶¶¶¶¶§§§§§§¶¶7777777¶
¶¶§§§§¶¶¶_________________¶¶¶§§§§§¶¶_77777¶¶
_¶¶§¶¶¶_¶¶¶¶¶¶¶_____¶¶¶¶¶¶¶_¶¶§§§§§¶¶¶77777¶
__¶¶¶¶¶_¶______¶¶__¶¶_____¶¶_¶¶¶§§¶¶¶¶¶¶777¶¶¶¶
___¶¶¶____$$$$________$$$$____¶¶§¶¶___¶¶¶777¶§¶¶¶
___¶¶¶___$$$$$$______$$$$$$____¶¶¶______¶¶77¶§§§¶¶
_¶¶_¶____$_¶¶_$$____$$_¶¶_$$___¶¶¶¶¶___¶§¶¶¶¶§§§§¶
¶¶__¶____$$___$_¶¶¶¶_$____$$___¶¶__¶__¶¶§§§§§§§§§¶
_¶_¶¶_____$$$$_¶¶¶_¶¶¶_$$$$____¶¶_¶¶___¶§§§§§§§§§¶
_¶¶_¶________¶¶______¶¶________¶¶_¶_____¶¶§§§§§§¶¶
__¶¶¶_____¶¶¶¶¶¶¶___¶¶¶¶¶¶¶____¶¶¶¶______¶¶¶¶§¶¶¶
__¶¶¶¶¶¶¶¶¶1111¶¶¶¶¶¶1111¶¶¶¶¶¶¶_¶__________¶¶¶
___¶¶¶111111111111¶11111111111¶¶¶¶
__¶¶1¶¶¶¶1111111¶¶¶¶11111111¶¶¶11¶¶
__¶1111¶¶¶¶¶¶¶¶¶¶__¶¶¶¶¶¶¶¶¶¶1111¶¶
__¶¶111111111111¶¶¶¶1111111111111¶¶
_¶¶1111111111111111111111111111111¶¶
_¶¶11111111111111111111111111111111¶
__¶¶1111111111111111111111111111111¶
_¶¶1111111111111111111111111111111¶¶
¶¶1111111111111111111111111111111¶¶
¶111111111111111111111111111111111¶
¶111111111111111111111111111111111¶¶
¶¶111111111111111111111111111111111¶
_¶¶¶111111111111111111111111111111¶¶
__¶¶111111111111111111111111111111¶¶
__¶¶1111111111111111111111111111¶¶¶
___¶¶1111111111111111111111111¶¶¶
____¶¶¶11111111111111111111111¶¶
______¶¶111111111111111111111¶¶
_______¶¶1111111111111111111¶¶
________¶¶¶¶¶¶11111111¶¶¶¶¶¶¶
_____________¶¶¶¶¶¶¶¶¶¶ -->

